{% extends 'index.html' %}

{% load crispy_forms_tags %}
{% block title %}Noty | Home{% endblock title %}
{% block homeactive %}active{% endblock homeactive %}
{% block body %}
<style>
body{
   background-color:#fd3838;
	 background-image: linear-gradient(147deg, #ffe53b 0%, #fd3838 74%);
}
</style>
<center><h2> Create Post</h2></center>
<div class="container mt-5 " >
 <form method="post" action="{% url 'createposts' %}" enctype="multipart/form-data">
{% csrf_token %}
   <div class="form-group">
   
     {{ form.title|as_crispy_field }}
  </div>

  <div class="form-group">
    
     {{ form.content|as_crispy_field }}
  </div>
  
  <form>
  <div class="form-group">
    
     {{ form.img|as_crispy_field }}
  </div>
  </br>

  
  <div class="form-group">
  <input type="submit" class="btn-btn-success">Post</button>
</div> 
 </form> 
 </div>
{% endblock body%}